    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% if tagList['title'] is defined %}
    <title>{{ tagList['title'] }} - {{ seo_base_title_suffix|default(ezpublish.configResolver.parameter('SiteSettings.SiteName')) }}</title>
{% endif %}
{% if tagList['canonical'] is defined %}
    <link rel="canonical" href="{{ tagList['canonical'] }}">
{% endif %}
{% if tagList['viewport'] is defined %}
    <meta name="viewport" content="{{ tagList['viewport'] }}">
{% endif %}

{% if tagList['keywords'] is defined %}
    <meta name="keywords" content="{{ tagList['keywords'] }}">
{% endif %}
{% if tagList['description'] is defined %}
    {% set text = tagList['description']|striptags %}
    {% set cleanText = text|replace({'&amp;': '','nbsp;': ' '}) %}
    <meta name="description" content="{{ cleanText }}">
{% endif %}
{% if tagList['og_title'] is defined %}
    <!--FACEBOOK-->
    <meta property="og:title" content="{{ tagList['og_title'] }}">
{% endif %}
{% if tagList['og_site_name'] is defined %}
    <meta property="og:site_name" content="{{ tagList['og_site_name'] }}">
{% endif %}
{% if tagList['og_url'] is defined %}
    <meta property="og:url" content="{{ tagList['og_url'] }}">
{% endif %}
{% if tagList['og_description'] is defined %}
    <meta property="og:description" content="{{ tagList['og_description'] }}">
{% endif %}
{% if tagList['og_image'] is defined %}
    <meta property="og:image" content="{{ tagList['og_image'] }}">
{% endif %}
{% if tagList['fb_app_id'] is defined %}
    <meta property="fb:app_id" content="{{ tagList['fb_app_id'] }}">
{% endif %}
{% if tagList['og_type'] is defined %}
    <meta property="og:type" content="{{ tagList['og_type'] }}">
{% endif %}
{% if tagList['og_locale'] is defined %}
    <meta property="og:locale" content="{{ tagList['og_locale'] }}">
{% endif %}

{% if tagList['twitter_card'] is defined %}
    <!--TWITTER-->
    <meta property="twitter:card" content="{{ tagList['twitter_card'] }}">
{% endif %}
{% if tagList['twitter_title'] is defined %}
    <meta property="twitter:title" content="{{ tagList['twitter_title'] }}">
{% endif %}
{% if tagList['twitter_description'] is defined %}
    <meta property="twitter:description" content="{{ tagList['twitter_description'] }}">
{% endif %}
{% if tagList['twitter_creator'] is defined %}
    <meta property="twitter:creator" content="{{ tagList['twitter_creator'] }}">
{% endif %}
{% if tagList['twitter_url'] is defined %}
    <meta property="twitter:url" content="{{ tagList['twitter_url'] }}">
{% endif %}
{% if tagList['twitter_image'] is defined %}
    <meta property="twitter:image" content="{{ tagList['twitter_image'] }}">
{% endif %}
{% if tagList['twitter_image_alt'] is defined %}
    <meta property="twitter:image:alt" content="{{ tagList['twitter_image_alt'] }}">
{% endif %}
{% if tagList['author'] is defined %}
    <!--GOOGLE+-->
    <link rel="author" href="{{ tagList['author'] }}">
{% endif %}
{% if tagList['publisher'] is defined %}
    <link rel="publisher" href="{{ tagList['publisher'] }}">
{% endif %}